<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="checksum.css">
    <title>HashWow</title>
</head>
<body>

<div class="one">
    <h1>
        <a href="index.html">
            <img class="hash-img" alt="img" src="images/hashwow.png"></a>
        HashWow
    </h1>
</div>

<form class="search-form" enctype="multipart/form-data" action="/checksum" method="POST">
    <p>
    <div class="input-field">
        <input name="file" type="file" id="file" class="text" placeholder="Введите текст" aria-placeholder=""
               title="Поле ввода">
    </div>
    </p>

    <p>
    <div class="input-field">
        <input name="check" type="text" id="check" class="text" placeholder="Введите контрольную сумму!" aria-placeholder=""
               title="Поле ввода">
        <button type="submit" >Проверить!</button>
    </div>
    </p>

    <p align="center">
        <select name="algorithm" id="algorithm" class="sel">
            <option value="crc32">crc32</option>
            <option value="md5">md5</option>
            <option value="sha1">sha-1</option>
            <option value="sha256">sha-256</option>
            <option value="sha512">sha-512</option>
        </select>
    </p>

    <p>
    <div class="result-block">
        <p th:text="'Результат: ' + ${checksum.equals}"></p>
        <p th:text="'Алгоритм: ' + ${checksum.algorithm}"></p>
        <p th:text="'Ваша контрольная сумма: ' + ${checksum.checksum}"></p>
    </div>
    </p>

</form>
</body>
</html>