* {
    font-family: 'Poly', serif;
    font-weight: lighter;
}

.sel {
    text-align-last: center;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 1px #000000;
    color: black;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    outline: none;
}

.one {
    padding: 10px 10px 10px 10px;
}

.hash-img {
    height: 50px;
}

h1 {
    font-family: 'Poly', serif;
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
}

p {
    padding: 0;
}

.sub {
    border: 1px solid #000000;
    font-size: 15px;
    height: 70px;
    width: 90px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
    outline: none;
}

.text {
    width: 250px;
    height: 25px;
    text-align: center;
    /*  height: 70px;
      width: 100px;
      text-align: center;
      font-size: 20px;
      padding: 0;
      border-radius: 10px;
      outline: none;*/
}

.knopki {
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.result-block {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.result-block {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
