<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="hash.css">
    <title>HashWow</title>
</head>
<body>

<div class="one">
    <h1>
        <a href="index.html">
            <img class="hash-img" alt="img" src="images/hashwow.png"></a>
        HashWow
    </h1>
</div>

<form class="search-form" action="/hash" method="POST">
    <div class="input-field">
        <input name="text" type="text" id="text" class="text" placeholder="Введите текст" aria-placeholder="" title="Поле ввода">
        <button class="sub">Hash It!</button>
    </div>
    <div class="knopki">
        <p align="center">
            <select name="algorithm" id="algorithm" class="sel">
                <option value="md5">md5</option>
                <option value="md2">md2</option>
                <option value="sha1">sha-1</option>
                <option value="sha256">sha-256</option>
                <option value="sha512">sha-512</option>
                <option value="crc32">crc32</option>
            </select>
        </p>
        <p>
            <label class="switch">
                <input name="type" id="type" type="checkbox" value="code">
                <span class="slider round"></span>
            </label>
        </p>
        <p align="center">
            <select name="codeAlgorithm" id="codeAlgorithm" class="sel">
                <option value="base64">base64</option>
                <option value="ASCII-8BIT">ASCII-8BIT</option>
                <option value="UTF-16">UTF-16</option>
                <option value="UTF-8">UTF-8</option>
                <option value="ISO8859-1">iso8859-1</option>
                <option value="KOI8-R">KOI8-R</option>
                <option value="CP850">CP850</option>
                <option value="CP950">CP950</option>
                <option value="IBM852">IBM852</option>
                <option value="IBM869">IBM869</option>
                <option value="Windows-1250">Windows-1250</option>
                <option value="Windows-1251">Windows-1251</option>
                <option value="Windows-1252">Windows-1252</option>
                <option value="Windows-1253">Windows-1253</option>
            </select>
        </p>
    </div>
    <div class="result-block">
        <p th:text="'Text: ' + ${hash.text}"></p>
        <p th:text="'Algorithm: ' + ${hash.algorithm}"></p>
        <p th:text="'Result: ' + ${hash.result}"></p>
    </div>
</form>
</body>
</html>